{%- macro PostComponent(params) -%} {% set postData = params.post %} {% set DEFAULT_IMAGE_URL =
'https://via.placeholder.com/350' %}
<div
	class="post-card flex flex-col flex-grow bg-gray-100 flex flex-col bg-white border border-gray-200 rounded-lg shadow-md">
	<a href="{{ postData.url }}">
		<div
			class="post-card-image py-12 sm:py-28 bg-cover bg-center bg-no-repeat"
			style="background-image: url('{{postData.imageUrl or DEFAULT_IMAGE_URL}}')"></div>
	</a>
	<div class="p-5 h-full flex flex-col justify-between">
		<div>
			{% if postData.date %}
			<div class="text-slate-400 font-bold text-xs">
				Published on <time class="font-light">{{ postData.date | readableDate }}</time>
			</div>

			{% endif %}
			<a class="mb-0" href="{{ postData.url }}">
				<h5 class="text-2xl font-bold tracking-tight text-gray-900">{{ postData.name }}</h5>
			</a>
			<div class="mb-3 font-normal text-sm text-gray-500">
				{{ postData.description | md | truncate(160) | safe }}
			</div>

			<div class="inline-flex mb-2">
				{% for tag in postData.tags %}
				<div
					class="mr-2 text-xs inline-flex items-center font-bold px-2 py-1 bg-slate-200 text-slate-700 rounded-full">
					#{{ tag }}
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="self-end">
			<a
				href="{{ postData.url }}"
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
				Read more
				<svg
					aria-hidden="true"
					class="w-4 h-4 ml-2 -mr-1"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg">
					<path
						fill-rule="evenodd"
						d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
						clip-rule="evenodd"></path>
				</svg>
			</a>
		</div>
	</div>
</div>
{%- endmacro -%}
