ph-list {
	display: inline-flex;
	flex-direction: column;
	min-width: 12rem;
	max-height: 12rem;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid grey;
	border-radius: 4px;
	background-color: white;

	&[aria-orientation='horizontal'] {
		flex-direction: row;
	}

	ph-list-item {
		display: flex;
		width: 100%;
		padding: 0.5rem 1rem;
		background-color: inherit;
		text-align: left;
		user-select: none;

		&:hover,
		&.active {
			background-color: var(--ph-action-hover);
		}

		&:focus {
			outline: none;
			background-color: var(--ph-action-focus);
		}

		&[aria-selected='true'],
		&[aria-checked='true'] {
			background-color: rgb(25 118 210 / 8%);

			&:hover,
			&:focus {
				background-color: rgb(25 118 210 / 12%);
			}
		}

		&[disabled],
		&[aria-disabled] {
			color: var(--ph-action-disabled);
			pointer-events: none;
		}
	}
}
