{%- macro Pagination(params) -%}

	{% set buttonClasses = 'inline-flex items-center px-4 py-2 mr-3 text-sm font-medium text-dark bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700' %}
	{% set disabledButtonClasses = 'pointer-events-none opacity-70' %}

	{% if params.totalPages > 1 %}
		<div class="inline-flex justify-between w-full items-center">
			<div class="flex">
				{% if params.hrefs.first and params.hrefs.previous %}
					<a class="{{buttonClasses}}" href="{{ params.baseHref }}{{ params.hrefs.first }}{{params.pageAnchor}}">
						First
					</a>
				{% else %}
					<a class="{{buttonClasses}} {{disabledButtonClasses}}" role="link" aria-disabled="true">First</a>
				{% endif %}
				{% if params.hrefs.previous %}
					<a class="{{buttonClasses}}" href="{{ params.baseHref }}{{ params.hrefs.previous }}{{params.pageAnchor}}">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M19 12H5M5 12L12 19M5 12L12 5"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round" />
						</svg>
						<span>Previous</span></a
					>
				{% else %}
					<a class="{{buttonClasses}} {{disabledButtonClasses}}" role="link" aria-disabled="true">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M19 12H5M5 12L12 19M5 12L12 5"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round" />
						</svg>
						<span>Previous</span></a
					>
				{% endif %}
			</div>

			<div class="text-sm text-dark ml-3 mr-6">
				Page {{ (params.pageNumber + 1) or 0 }} of {{ params.totalPages }}
			</div>

			<div class="flex">
				{% if params.hrefs.next %}
					<a class="{{buttonClasses}}" href="{{ params.baseHref }}{{ params.hrefs.next }}{{params.pageAnchor}}">
						<span>Next</span>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M5 12H19M19 12L12 5M19 12L12 19"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round" /></svg
					></a>
				{% else %}
					<a class="{{buttonClasses}} {{disabledButtonClasses}}" role="link" aria-disabled="true">
						<span class="c-pagination__item__text">Next</span>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M5 12H19M19 12L12 5M19 12L12 19"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round" /></svg
					></a>
				{% endif %}
				{% if params.hrefs.last and params.hrefs.next %}
					<a class="{{buttonClasses}}" href="{{ params.baseHref }}{{ params.hrefs.last }}{{params.pageAnchor}}">Last</a>
				{% else %}
					<a class="{{buttonClasses}} {{disabledButtonClasses}}" role="link" aria-disabled="true">Last</a>
				{% endif %}
			</div>
		</div>
	{% endif %}
{%- endmacro -%}
