<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" />
		<title>{{ seo.title or title }} | {{ meta.siteName }}</title>
		<link rel="stylesheet" href="/assets/css/style.css" />
		<meta name="description" content="Pavel Pleshko. Personal blog about web development" />
	</head>

	<body class="flex flex-col">
		<!--Cookie banner-->
		{%- include "partials/header.html" %}

		<main id="content" class="flex flex-col grow bg-slate-50">
			{% block content %} {{ content | safe }} {% endblock %}
		</main>

		{% include "partials/footer.html" %}
	</body>
</html>
