---
layout: page
---

{% from 'components/posts/post.macro.html' import PostComponent %}

<div class="max-w-8xl mx-auto">
	<div class="flex px-4 pt-8 pb-10 lg:px-8">
		<a class="group flex font-semibold text-sm leading-6 text-slate-700 hover:text-slate-900" href="/posts">
			<svg viewBox="0 -9 3 24" class="overflow-visible mr-3 text-slate-400 w-auto h-6 group-hover:text-slate-600">
				<path
					d="M3 0L0 3L3 6"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</svg>
			View all posts</a
		>
	</div>
</div>
<div class="max-w-3xl mx-auto pb-20">
	{% block content %}

	<article>
		<div class="inline-flex mb-3 mb-3 text-sm text-slate-500 font-normal">
			{% if date %}

			<div class="pw-published-date bd b be z fs">{{ date | readableDate }}</div>
			<div aria-hidden="true" class="mx-2">·</div>
			{% endif %}
			<div>
				{% set readTime = content | md | readingTime %} {% if readTime > 1 %} {{ readTime }} minutes {% else %}
				less than a minute {% endif %} read
			</div>
		</div>
		<h1 class="text-2xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-3xl">
			{{ pageTitle }}
		</h1>
		<div class="inline-flex mb-2">{% set tags = contentTags %} {% include 'partials/tags.html' %}</div>
		<div class="text-slate-500">{{ description | md | safe }}</div>

		<div class="my-6">
			<div class="relative not-prose first:mt-0 last:mb-0 rounded-lg overflow-hidden">
				<div
					class="h-[20em] bg-cover bg-center bg-no-repeat"
					style="background-image: url('/assets/images/posts/{{imageUrl}}')"></div>
				<div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-slate-900/10"></div>
			</div>
		</div>

		<nav id="inlineToc">
			<h2 class="text-2xl pt-2">Contents</h2>
			<div class="text-xl">{{ content | toc | safe }}</div>
		</nav>

		<hr class="my-4" />

		<div>{{ content | safe }}</div>
	</article>

	{% endblock %} {%- set relatedPosts = collections.posts | filterByTags(contentTags) |
	excludeFromCollection(page.url) -%} {% if relatedPosts.length %}

	<div class="mt-12">
		<div class="mx-auto w-24 h-1 my-2 bg-slate-300 rounded-full"></div>
		<h3 data-tags="{{ contentTags | join(',') }}">Related posts</h3>
		<ul class="list-none m-0">
			{%- for post in relatedPosts | limit(6) -%}
			<li class="hover:scale-105 transition">
				{{ PostComponent({ horizontal: true, post: { url: post.url, name: post.data.pageTitle, description:
				post.data.description, tags: post.data.contentTags, date: post.data.date, imageUrl: post.data.imageUrl }
				}) }}
			</li>
			{%- endfor -%}
		</ul>
	</div>
	{% endif %}
</div>
