<header class="pageHeader">
    <nav>
        <a id="homeLink" href="{{ site.baseurl }}/" aria-label="Home">
            Logo image here
        </a>

        <ol id="desktopNav">
            {% include 'partials/site-nav.njk' %}
        </ol>

    </nav>

</header>
