<li class="navItem{% if page.url.includes('/tutorials') %} active{% endif %}">
    <a href="{{ site.baseurl }}/tutorials/">Tutorials</a></li>

<li class="navItem{% if page.url.includes('/posts') %} active{% endif %}">
    <a href="{{ site.baseurl }}/posts/">Posts</a></li>

<li class="navItem{% if page.url.includes('/about') %} active{% endif %}">
    <a href="{{ site.baseurl }}/about/">About</a></li>
