---
title: Posts
layout: contentPage
pagination:
    data: collections.postsByTags
    size: 1
    alias: currentTag
permalink: /posts/tags/{{ currentTag.slug }}/index.html
paginationPrevText: 'Newer posts'
paginationNextText: 'Older posts'
paginationAnchor: '#post-list'
---

{% from 'components/pagination/pagination-controls.macro.html' import MoreLessPagination %} {% block content %} {%
layoutblock 'pageTitle' %} Posts by tag: <i>{{ currentTag.title }}</i>
{% endlayoutblock %} {%- layoutblock 'pageSubtitle' -%} Check out the latest posts on web development {%- endlayoutblock
-%}

<div class="py-6">
	<div class="flex flex-col justify-center items-center" id="post-list">
		{% set posts = currentTag.items %} {% include 'partials/post-list.html' %}
	</div>
</div>

{% if currentTag.hrefs.next or currentTag.hrefs.previous %}
<footer class="text-center">
	<div class="wrapper">
		<nav class="flex justify-center" aria-label="Pagination links">
			<nav class="flex justify-center" aria-label="Pagination links">
				{{ MoreLessPagination({ prevHref: currentTag.hrefs.previous, prevLabel: paginationPrevText, nextHref:
				currentTag.hrefs.next, nextLabel: paginationNextText, pageAnchor: paginationAnchor, baseHref:
				'/posts/tags/' }) }}
			</nav>
		</nav>
	</div>
</footer>
{% endif %} {% endblock %}
