<li class="nav-item{% if page.url.startsWith('/posts') %} active{% endif %}">
	<a href="{{site.deployUrl}}posts/">Posts</a>
</li>

<li class="nav-item{% if page.url.startsWith('/tutorials') %} active{% endif %}">
	<a href="{{site.deployUrl}}tutorials/">Tutorials</a>
</li>

<li class="nav-item{% if page.url.startsWith('/tags') %} active{% endif %}">
	<a href="{{site.deployUrl}}tags/">Tags</a>
</li>

<li class="nav-item{% if page.url.startsWith('/about') %} active{% endif %}">
	<a href="{{site.deployUrl}}about/">About</a>
</li>
